<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>YhteydenTestaaminen</servlet-name>
        <servlet-class>YhteydenTestaaminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Yhteys</servlet-name>
        <servlet-class>Yhteys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestiServlet</servlet-name>
        <servlet-class>TestiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>Servlets.ListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YhteydenTestaus</servlet-name>
        <servlet-class>Servlets.YhteydenTestaus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Servlets.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddParticipantServlet</servlet-name>
        <servlet-class>Servlets.AddParticipantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamesServlet</servlet-name>
        <servlet-class>Servlets.GamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersServlet</servlet-name>
        <servlet-class>Servlets.PlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>Servlets.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>Servlets.PlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGameServlet</servlet-name>
        <servlet-class>Servlets.CreateGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGameServlet2</servlet-name>
        <servlet-class>Servlets.CreateGameServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGameServlet</servlet-name>
        <servlet-class>Servlets.DeleteGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenameGameServlet</servlet-name>
        <servlet-class>Servlets.RenameGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenameGameServlet2</servlet-name>
        <servlet-class>Servlets.RenameGameServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGameServlet</servlet-name>
        <servlet-class>Servlets.EditGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YhteydenTestaaminen</servlet-name>
        <url-pattern>/YhteydenTestaaminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Yhteys</servlet-name>
        <url-pattern>/Yhteys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestiServlet</servlet-name>
        <url-pattern>/TestiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/Listaustesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YhteydenTestaus</servlet-name>
        <url-pattern>/YhteydenTestaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddParticipantServlet</servlet-name>
        <url-pattern>/AddParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamesServlet</servlet-name>
        <url-pattern>/Games</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersServlet</servlet-name>
        <url-pattern>/Players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/Player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGameServlet</servlet-name>
        <url-pattern>/CreateGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGameServlet2</servlet-name>
        <url-pattern>/CreateGame2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGameServlet</servlet-name>
        <url-pattern>/DeleteGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenameGameServlet</servlet-name>
        <url-pattern>/RenameGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenameGameServlet2</servlet-name>
        <url-pattern>/RenameGame2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGameServlet</servlet-name>
        <url-pattern>/EditGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
